#!/usr/bin/env bash

sudo apt update

sudo apt install -y htop \
                    imagemagick \
                    jq \
                    pandoc \
                    pwgen \
                    ranger \
                    tldr \
		    texlive \
                    tree \
                    virtualenvwrapper \
                    whois

{{ if .gui -}}
sudo apt install -y vlc
{{ end -}}
