#!/usr/bin/env bash

sudo apt install htop \
                 imagemagick \
                 jq \
                 pandoc \
                 pwgen \
                 ranger \
                 tldr \
                 tree \
                 virtualenvwrapper \
                 whois

{{ if (eq .type "desktop") -}}
sudo apt install texlive \
                 vlc
{{ end -}}
