#!/usr/bin/env bash

sudo apt update

sudo apt install -y htop \
                    imagemagick \
                    jq \
                    pandoc \
                    pwgen \
                    ranger \
                    tldr \
                    tree \
                    virtualenvwrapper \
                    whois

{{ if (eq .type "desktop") -}}
sudo apt install -y texlive \
                    vlc
{{ end -}}
