{{ template "misc_install.sh.tmpl" . }}

{{ template "install/alacritty.sh.tmpl" . }}
{{ template "neovim_install.sh.tmpl" . }}
{{ template "pass_install.sh.tmpl" . }}
{{ template "ssh_install.sh.tmpl" . }}
