{{ template "misc_install.sh.tmpl" . }}
{{ template "alacritty_install.sh.tmpl" . }}
{{ template "neovim_install.sh.tmpl" . }}
{{ template "pass_install.sh.tmpl" . }}
{{ template "ssh_install.sh.tmpl" . }}
