{{ template "install/misc.sh.tmpl" . }}

{{ template "install/alacritty.sh.tmpl" . }}
{{ template "install/neovim.sh.tmpl" . }}
{{ template "install/pass.sh.tmpl" . }}
{{ template "install/openssh-server.sh.tmpl" . }}
