{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "pop") (eq .chezmoi.osRelease.versionID "21.10")) -}}
#!/usr/bin/env bash

NEOVIM_VERSION=`curl -s https://api.github.com/repos/neovim/neovim/releases/latest | jq -r .tag_name | awk '{print substr($1, 2)}'`

curl -sL "https://github.com/neovim/neovim/releases/download/v${NEOVIM_VERSION}/nvim.appimage" -o /tmp/nvim.appimage
sudo install /tmp/nvim.appimage /usr/local/bin/neovim-${NEOVIM_VERSION}
rm /tmp/nvim.appimage
sudo ln -sf /usr/local/bin/neovim-${NEOVIM_VERSION} /usr/local/bin/neovim

unset NEOVIM_VERSION

# Python support
pip3 install pynvim

# packer install
#git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.config/nvim/pack/packer/opt/packer.nvim
git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
{{- end }}
