{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "pop" -}}
    # https://github.com/alacritty/alacritty/blob/v0.9.0/alacritty.yml
    # https://github.com/alacritty/alacritty/releases/download/v0.9.0/alacritty.yml
    
    env:
      TERM: xterm-256color
    
    window:
      padding:
        x: 5
        y: 5
    font:
      normal:
        family: monospace
        style: Regular
      bold:
        family: monospace
        style: Bold
      italic:
        family: monospace
        style: Italic
      bold_italic:
        family: monospace
        style: Bold Italic
      size: 10.0
    draw_bold_text_with_bright_colors: true
  {{ end -}}
{{ end -}}
