{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "pop") (eq .chezmoi.osRelease.versionID "21.10") (.gui)) -}}
# https://github.com/alacritty/alacritty/blob/v0.9.0/alacritty.yml
# https://github.com/alacritty/alacritty/releases/download/v0.9.0/alacritty.yml

env:
  TERM: xterm-256color
window:
  padding:
    x: 5
    y: 5
font:
  normal:
    family: monospace
    style: Regular
  bold:
    family: monospace
    style: Bold
  italic:
    family: monospace
    style: Italic
  bold_italic:
    family: monospace
    style: Bold Italic
  size: 10.0
draw_bold_text_with_bright_colors: true
#shell:
# program: /bin/bash
#  args:
#   - -l
#    - -c
#    - "tmux attach || tmux"
#    - "tmux attach -t `tmux list-sessions 2>/dev/null | rofi -dmenu | cut -d: -f1` || tmux"
#    - "tmux attach -t `tmux list-sessions 2>/dev/null | fzf | cut -d: -f1` || tmux"
{{- end -}}
